<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= title %></h1>

        <form
          method="POST"
          action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
        >
          <div class="form-control">
            <label for="title"
              >title
              <input
                id="title"
                type="text"
                name="title"
                value="<% if
              (editing) { %><%= product.title %><% } %>"
            /></label>
          </div>
          <br />
          <div class="form-control">
            <label for="imageUrl"
              >Image URL
              <input
                id="imageUrl"
                type="text"
                name="imageUrl"
                value="<% if
              (editing) { %><%= product.imageUrl %><% } %>"
            /></label>
          </div>
          <br />
          <div class="form-control">
            <label for="price"
              >Price
              <input
                id="price"
                type="number"
                name="price"
                step="0.01"
                value="<% if
              (editing) { %><%= product.price %><% } %>"
            /></label>
          </div>
          <br />
          <div class="form-control">
            <label for="description"
              >Description
              <textarea name="description" id="description" rows="5">
              <% if (editing) { %><%= product.description %><% } %>
              </textarea>
            </label>
          </div>

          <% if (editing) { %>
          <input
            type="hidden"
            name="productId"
            value="<%= product.description %>"
          />
          <% } %>

          <button type="submit">
            <% if (editing) { %>Update<% } else { %>Add<% } %> Product
          </button>
        </form>
      </div>
    </div>
    <div class="container"></div>
  </body>
</html>
