<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li class="<%= path === '/shop' ? 'active' : ''%>">
        <a href="/shop"><span class="glyphicon glyphicon-book"></span> Shop</a>
      </li>
      <li class="<%= path === '/cart' ? 'active' : ''%>">
        <a href="/cart"><span class="glyphicon glyphicon-book"></span> Cart</a>
      </li>

      <li class="<%= path === '/orders' ? 'active' : ''%>">
        <a href="/orders"
          ><span class="glyphicon glyphicon-book"></span> Orders</a
        >
      </li>

      <li class="<%= path === '/products' ? 'active' : ''%>">
        <a href="/products"
          ><span class="glyphicon glyphicon-book"></span> Products</a
        >
      </li>

      <li class="<%= path === '/admin/add-product' ? 'active' : ''%>">
        <a href="/admin/add-product"
          ><span class="glyphicon glyphicon-book"></span> Add Product</a
        >
      </li>

      <li class="<%= path === '/admin/products' ? 'active' : ''%>">
        <a href="/admin/products"
          ><span class="glyphicon glyphicon-book"></span> Admin Products</a
        >
      </li>
    </ul>
  </div>
</nav>
