<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <div class="bg-white">
        <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-0">
          <h1
            class="
              text-3xl
              font-extrabold
              text-center
              tracking-tight
              text-gray-900
              sm:text-4xl
            "
          >
            Shopping Cart
          </h1>

          <div class="mt-12">
            <section aria-labelledby="cart-heading">
              <h2 id="cart-heading" class="sr-only">
                Items in your shopping cart
              </h2>

              <ul
                role="list"
                class="
                  border-t border-b border-gray-200
                  divide-y divide-gray-200
                "
              >
                <% if (products.length > 0) { %> <% products.forEach(cartItem =>
                { %>
                <li class="flex py-6">
                  <div class="flex-shrink-0">
                    <img
                      src="<%= cartItem.product.imageUrl %>"
                      alt="<%= cartItem.product.title %>"
                      class="
                        w-24
                        h-24
                        rounded-md
                        object-center object-cover
                        sm:w-32 sm:h-32
                      "
                    />
                  </div>

                  <div class="ml-4 flex-1 flex flex-col sm:ml-6">
                    <div>
                      <div class="flex justify-between">
                        <h4 class="text-sm">
                          <a
                            href="/menu/<%= cartItem.product._id %>"
                            class="
                              font-medium
                              text-gray-700
                              hover:text-gray-800
                            "
                          >
                            <%= cartItem.product.title %> (<%= cartItem.quantity
                            %>)
                          </a>
                        </h4>
                        <p class="ml-4 text-sm font-medium text-gray-900">
                          $<%= cartItem.product.price.toFixed(2) %>
                        </p>
                      </div>
                      <p class="mt-4 text-sm text-gray-500">
                        <%= cartItem.product.description %>
                      </p>

                      <nav
                        class="
                          relative
                          z-0
                          inline-flex
                          rounded-md
                          shadow-sm
                          -space-x-px
                          mt-6
                        "
                        aria-label="Item Quantity"
                      >
                        <form action="/remove-one" method="POST" class="inline">
                          <input
                            type="hidden"
                            name="productId"
                            value="<%= cartItem.product._id %>"
                          />
                          <input
                            type="hidden"
                            name="_csrf"
                            value="<%= csrfToken %>"
                          />

                          <button
                            type="submit"
                            class="
                              relative
                              inline-flex
                              items-center
                              px-2
                              py-2
                              rounded-l-md
                              border border-gray-300
                              bg-white
                              text-sm
                              font-medium
                              text-gray-500
                              hover:bg-gray-50
                            "
                          >
                            <span class="sr-only">Remove One</span>

                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-5 w-5"
                              fill="none"
                              viewBox="0 0 20 20"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M18 12H6"
                              />
                            </svg>
                          </button>
                        </form>
                        <span
                          aria-current="quantity"
                          class="
                            z-10
                            bg-indigo-50
                            border-indigo-500
                            text-indigo-600
                            relative
                            inline-flex
                            items-center
                            px-4
                            py-2
                            border
                            text-sm
                            font-medium
                          "
                        >
                          <%= cartItem.quantity %>
                        </span>

                        <form
                          action="/add-to-cart"
                          method="POST"
                          class="inline"
                        >
                          <input
                            type="hidden"
                            name="productId"
                            value="<%= cartItem.product._id %>"
                          />
                          <input
                            type="hidden"
                            name="_csrf"
                            value="<%= csrfToken %>"
                          />
                          <button
                            type="submit"
                            class="
                              relative
                              inline-flex
                              items-center
                              px-2
                              py-2
                              rounded-r-md
                              border border-gray-300
                              bg-white
                              text-sm
                              font-medium
                              text-gray-500
                              hover:bg-gray-50
                            "
                          >
                            <span class="sr-only">Add One</span>

                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-5 w-5"
                              fill="none"
                              viewBox="0 0 20 20"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                              />
                            </svg>
                          </button>
                        </form>
                      </nav>
                    </div>

                    <div class="mt-4 flex-1 flex items-end justify-between">
                      <p
                        class="
                          flex
                          items-center
                          text-sm text-gray-700
                          space-x-2
                        "
                      ></p>
                      <div class="ml-4">
                        <form action="/cart-delete-item" method="POST">
                          <input
                            type="hidden"
                            name="_csrf"
                            value="<%= csrfToken %>"
                          />
                          <input
                            type="hidden"
                            name="productId"
                            value="<%= cartItem.product._id %>"
                          />
                          <button
                            type="submit"
                            class="
                              text-sm
                              font-medium
                              text-indigo-600
                              hover:text-indigo-500
                            "
                          >
                            <span>Remove</span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>

                <% }) %> <% } else { %>

                <p class="mx-3 my-4">
                  There isn't anything yummy in the cart yet.
                  <br />
                  <br />
                  Visit the
                  <a
                    href="/menu"
                    class="text-indigo-600 font-medium hover:text-indigo-500"
                    >menu</a
                  >
                  to find your next mouth-watering meal.
                </p>

                <% } %>
              </ul>
            </section>

            <!-- Order summary -->
            <section aria-labelledby="summary-heading" class="mt-10">
              <h2 id="summary-heading" class="sr-only">Order summary</h2>

              <div>
                <dl class="space-y-4">
                  <div class="flex items-center justify-between">
                    <dt class="text-base font-medium text-gray-900">
                      Subtotal
                    </dt>
                    <dd class="ml-4 text-base font-medium text-gray-900">
                      $<%= subtotal.toFixed(2) %>
                    </dd>
                  </div>
                </dl>
                <p class="mt-1 text-sm text-gray-500">
                  Taxes will be calculated at checkout.
                </p>
              </div>

              <div class="mt-10">
                <form action="/create-order" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                  <button
                    type="submit"
                    class="
                      w-full
                      bg-indigo-600
                      border border-transparent
                      rounded-md
                      shadow-sm
                      py-3
                      px-4
                      text-base
                      font-medium
                      text-white
                      hover:bg-indigo-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-offset-gray-50
                      focus:ring-indigo-500
                      disabled:opacity-50
                    "
                  >
                    Checkout
                  </button>
                </form>
              </div>

              <div class="mt-6 text-sm text-center">
                <p>
                  or
                  <a
                    href="/menu"
                    class="text-indigo-600 font-medium hover:text-indigo-500"
                    >Continue Shopping<span aria-hidden="true"> &rarr;</span></a
                  >
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
