<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <div class="bg-white">
        <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-0">
          <h1
            class="
              text-3xl
              font-extrabold
              text-center
              tracking-tight
              text-gray-900
              sm:text-4xl
            "
          >
            Orders
          </h1>
          <div class="mt-12 text-center">
            <section aria-labelledby="orders-heading">
              <h2>Orders</h2>

              <% if (orders.length <= 0) { %>
              <h1>Nothing there!</h1>
              <% } else { %>
              <ul>
                <% orders.forEach(order => { %>
                <li>
                  <h1>Order - # <%= order._id %></h1>
                  <ul>
                    <% order.items.forEach(product => { %>
                    <li><%= product.title %> (<%= product.quantity %>)</li>
                    <% }); %>
                  </ul>
                </li>
                <% }); %>
              </ul>
              <% } %>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
