<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= title %></h1>

        <% if (errors.length > 0) { %> Errors (<%= errors.length %>):

        <ul>
          <% for (let error of errors) { %>
          <li>
            <%= error %>

            <form method="POST" action="/admin/clear-error">
              <input
                id="book"
                type="hidden"
                name="error"
                value="<%= error %>"
              />
              <button type="submit">OK</button>
            </form>
          </li>
          <% } %>
        </ul>

        <% } %> <% if (products.length > 0) { %> There are <%= products.length
        %> books:

        <ul>
          <% for (let product of products) { %>
          <li>
            <%= product.title %> by <%= product.author %>
            <br />
            description: <%= product.description %>
            <br />
            image url: <%= product.imageUrl %>
            <br />
            price: <%= product.price %>
            <br />
            <a href="/products/<%= product.id %>" class="btn">Details</a>

            <%- include('../includes/add-to-cart.ejs') %>
          </li>
          <% } %>
        </ul>

        <% } else { %> There are NO books. You can be the first! <% } %>

        <a href="/admin/add-product">Add a book</a>
      </div>
    </div>
    <div class="container"></div>
  </body>
</html>
